<br>
<br>
<h2>Welcome</h2><br><br>
<p>Product & Agent Management System is your one stop portal to manage all your products , Sales agents. using this portal you can<br>
<li>Add , view and edit your products.</li><br>
<li>Add  Sales Agent your interacted with and tag them to respective product </li><br>
<li>View all your product catalouge at one place</li><br>
<br>
</p>

<p><em>-Login to get started</em></p>
