<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Add Product</h1>
    <div class="btn-toolbar mb-2 mb-md 0">
      <div class="btn-group me-2">
        
      </div>
    </div>
  </div>
  
  <div class="col py-3">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/allproducts">All Products</a></li>
            <li class="breadcrumb-item active">New Product</li>
          </ol>
        </nav>
      </div>
      <div class="col text-end fw-lighter">
      
      </div>
    </div>
  
  </div>
  
  
  <form action="/add" method="POST">
  
    <div class="row form-group mb-4 w-25">
  
        <label for="productName">Product Name</label>
        <input type="text" class="form-control" id="productName" name="productName" value="" placeholder="Product Name" required>

    </div>
  
      <div class="row form-group mb-4 w-25">

        <label for="releaseDate">Manufacturer</label>
        <input type="text" class="form-control" id="manufacturer" name="manufacturer" value="" placeholder="Manufacturer" required>
     </div>
  
  
    <div class="row form-group mb-4 w-25">
        <label for="productCategory">Product Category</label>
        <input type="text" class="form-control" id="productCategory" name="productCategory" value="" placeholder="Product Category" required>
  </div>

     <div class="row form-group mb-4 w-25">
      <label for="salesPeople">Sales Person</label>
      <select name="salesPeople" class="select" id="salesPeople" for="salesPeople">
        <% if (Array.isArray(agents)) { %>
        <% agents.forEach(agent => { %>
        <option value="<%= agent._id %>"><%= agent.agentName %> </option>
        <% }); %>
        <% } %>
        </select>
     </div>
  
  



    <div class="row form-group mb-4 w-25">
      <button type="submit" class="btn btn-primary">Add Product</button>
    </div>
  

  
  </form>
</div>